@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

:root
{
    --gray: #83A8Ac;
    --dark-blue: #102542;
    --light-blue: #0D80EE;
    --white: #fff;
    --red: #be1f24;
    --orange-light: #f89739;
    --orange-dark: #d46327;
    --gray: #252525;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-blue);
    margin: 0;
    padding: 0;
    min-height: 100svh;
    overflow: hidden;
    font-family: "Rubik Dirt";
}

header
{
    color: var(--white);
    text-align: center;
    padding-block: 20px;
}
.banner
{
    width: 30em;
}
h1
{
    text-align: center;
    font-size: 2.75em;
    text-decoration: underline;
}

.container-grid
{
    display: grid;
    place-items: center;
    position: relative;
    min-width: 300px;
}

.row-grid
{
    display: grid;
    place-items: center;
    min-height: 40px;
}

.wheel
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 350px;
    width: 500px;
    aspect-ratio: 1;
    border: var(--white) solid 10px;
    overflow: hidden;
    transition: transform 5s ease-in-out;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.60);

}

p
{
    height: 25px;
    font-size: 24px;
}

button[data-visible = "showed"]
{
    border-radius: 10px;
    height: 40px;
    background: var(--orange-light);
    color: var(--white);
    border: 5px outset var(--white);
}

button[data-visible = "hidden"]
{
    visibility:hidden
}

button:focus-visible,
button:hover
{
    outline: 0;
    border: 5px inset var(--white);
}

@media(max-width:550px){

    .wheel
    {
        min-width: 250px;
        width: 300px;
    }

   .center_element
    {
        height: 75px;
        width: 75px;
        border: 3px solid;
        background-size: 100px 100px;
    }

    .center_element::before
    {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 20px solid var(--orange-dark);
        top: -20px;
    }

    .set::after
    {
        top: -30px;
        border-left: 42px solid transparent;
        border-right: 42px solid transparent;
        border-top: 160px solid var(--color)
    }
}

@media(min-width:551px)
{
    .center_element
    {
        height: 75px;
        width: 75px;
    }

    .center_element::before
    {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 30px solid var(--orange-dark);
        top: -30px;
    }
    
    .set::after
    {
        top: -30px;
        border-left: 65px solid transparent;
        border-right: 65px solid transparent;
        border-top: 250px solid var(--color);
    }
    
}

.center_element::before
{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
}

p
{
    color: #fff;
}

.center_element
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    border: 5px solid var(--orange-dark);
    cursor: pointer;
    z-index: 10;
    background-image: url(img/logo.png);
    background-position: center center;
    background-size: 75px 75px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.60);
}

.set
{
    position: absolute;
    color: var(--white);
    width: 90%;
    height: 90%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.set::after
{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    z-index: -1;
}

footer
{
    padding: 0.6em;
    background-color: var(--gray);
    color: var(--white);
    display: grid;
    place-items: center;
}

a
{
    text-decoration: none;
    outline: 0;
    color: var(--white)
}

a:hover,
a:focus-visible
{
    color: var(--light-blue);
    transition: color 2s;
}

.set:nth-child(even)
{
    --color:var(--orange-light)
}

.set:nth-child(odd)
{
    --color:var(--red)
}

.set:nth-child(2)
{
    transform: rotate(30deg);
}

.set:nth-child(3)
{
    transform: rotate(60deg);
}

.set:nth-child(4)
{
    transform: rotate(90deg);
    
}

.set:nth-child(5)
{
    transform: rotate(120deg);
   
}

.set:nth-child(6)
{
    transform: rotate(150deg);
    
}

.set:nth-child(7)
{
    transform: rotate(180deg);
   
}

.set:nth-child(8)
{
    transform: rotate(210deg);
}

.set:nth-child(9)
{
    transform: rotate(240deg);
}

.set:nth-child(10)
{
    transform: rotate(270deg);
}

.set:nth-child(11)
{
    transform: rotate(300deg);
}

.set:nth-child(12)
{
    transform: rotate(330deg);
}